@(movie: Movie)

@import helper._
@import helper.twitterBootstrap._

@main("Movie details") {
	<div class="hero-unit">
		<div class="row">
			<div class="span3">
				<img src="@routes.Assets.at("images/movies/" + movie.id + ".jpg")" />
			</div>
			<div class="span5 offset1">
				<div class="row">
					<h4>
						<a href="@routes.Movies.details(movie.id)">
							@movie.title
						</a>
					</h4>
				</div>
				<div class="row">
					<div class="span2">
						@movie.length Min
					</div>
					<div class="span1">
						<a href="@movie.imdbLink" target="_blank">
							IMDb
						</a>
					</div>
					<div class="span2">
						<a class="various fancybox" href="@movie.trailerLink">Watch trailer</a>
					</div>
				</div>
					
				<div class="row">
					@movie.description
				</div>
			</div>
		</div>
	</div>
}