@(movies: List[Movie])

@main("Movies list") {	
	<div class="container">
		<h2>Movie List</h2>
		<div class="row">
			<div class="span12">
				<div id="list-movie" class="content scaffold-list" role="main">
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th></th>	
							</tr>
						</thead>
						<tbody>
							@for(movie <- movies) {
								<tr class="movie-id-@{movie.movieId}">
									<td>
										<figure>
											<img class="thumbnail" src="@routes.Assets.at("images/movies/" + movie.movieId + ".jpg")" />
										</figure>
									</td>
									<td>
										<h3>
											<a href="@routes.Movies.details(movie.movieId)">@movie.title</a>
										</h3>
										<span>@stars()</span>
										<span>@movie.description</span>
									</td>
								</tr>
							}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
        
		<div class="row">
			<div class="span12">
				<div class="pagination">
					<ul>
						<g:paginate total="${movieTotal}" />
					</ul>
				</div>
			</div>
		</div>
	</div>
}

