@(movies: List[Movie])

@main("Movies list") {	
	<div class="container">
		<h2>Movie List</h2>
		<div class="row">
			<div class="span12">
				<div id="list-movie" class="content scaffold-list" role="main">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Movie</th>
								<th></th>	
								<th>Rating</th>	
							</tr>
						</thead>
						<tbody>
							@for(movie <- movies) {
								<tr>
									<td>
										<figure>
										    <img class="thumbnail" src="@routes.Assets.at("images/movies/" + movie.id + ".jpg")" />
										    <figcaption><a href="@routes.Movies.details(movie.id)">@movie.title</a></figcaption>
										</figure>
									</td>
									<td>
										@movie.description
									</td>
									<td>stars</td>
								</tr>
							}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
        
		<div class="row">
			<div class="span12">
				<div class="pagination">
					<ul>
						<g:paginate total="${movieTotal}" />
					</ul>
				</div>
			</div>
		</div>
	</div>
}

