@(movies: List[Movie], user: User)

@import models.User

@main("Movies list") {	
	<div class="container">
		<h4>Rate as many movies as you can.</h4>
		<div class="row">
			<div class="span12">
				<div id="list-movie" class="content scaffold-list" role="main">
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@for(movie <- movies) {
								@defining(user.getMovieRating(movie.id)) { rating =>
									<tr class="movie-id-@{movie.id} @{if(rating != 0) rating + "stars"}">
										<td>
											<div class="hero-unit">
												<div class="row">
													<div class="span3">
														<img src="@routes.Assets.at("images/movies/" + movie.id + ".jpg")" />
													</div>
													<div class="span5 offset1">
														<div class="row">
															<h4>
																<a href="@routes.Movies.details(movie.id)">
																	@movie.title
																</a>
															</h4>
														</div>
														<div class="row">
															<div class="span2">
																@movie.length Min
															</div>
															<div class="span1">
																<a href="@movie.imdbLink" target="_blank">
																	IMDb
																</a>
															</div>
															<div class="span2">
																<a class="various fancybox" href="@movie.trailerLink">Watch trailer</a>
															</div>
														</div>
					
														<div class="row top-buffer">
															@stars()
														</div>
													
														<div class="row">
															@movie.description
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
		
		<div class="pagination"></div>
        
		@if((user != null) && !user.stage1Done) {			
			<div class="row">
				<div class="span2 offset5">
					<a class="btn btn-primary" href="@routes.Application.answerQuestions()">I am finished with the rating</a>
				</div>
			</div>
		}
		
		
		<script type="text/javascript">
		
		$(document).ready(function () {
			$('.table tbody tr').hide();
			$('.table tbody tr').slice(0, 10).show();
					

			var options = {
				currentPage: 1,
				totalPages: 10,
				alignment: "center",
				onPageChanged:
				function (event, oldPage, newPage) {
					$('.table tbody tr').slice((newPage - 1) * 10, newPage * 10).show();
					$('.table tbody tr').slice((oldPage - 1) * 10, oldPage * 10).hide();
				}
			}

			$('.pagination').bootstrapPaginator(options);
			
		});
		
		</script>
	}

