@(moviePairs: List[List[String]], user: User)

@import models.Movie

@main("Movies Pair list") {	
	<div class="container">		
		<h4>Give preferences for as many movies as you can.</h4>
		<ul id="pair_list" style="display: none">
			@for(moviePair <- moviePairs) {
				@defining(moviePair.get(0)) { m1 =>
					@defining(moviePair.get(1)) { m2 =>
						<li data-movie_1="@{m1}"
						data-title_1="@Movie.find.byId(m1).title" 
						data-descr_1="@Movie.find.byId(m1).description" 
						data-movie_2="@{m2}" 
						data-title_2="@Movie.find.byId(m2).title"
						data-descr_2="@Movie.find.byId(m2).description"
						>none</li>
					}
				}
			}
		</ul>
		
		<div class="row">
			<div class="span12">
				<div id="list-movie" class="content scaffold-list" role="main">
					<table id="pref_table" class="table table-striped">
						<thead>
							<tr>
								<th>Movie</th>
								<th></th>	
								<th>Movie</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="pagination"></div>
        
		@if((user != null) && !user.stage1Done) {			
			<div class="row">
				<div class="span2 offset5">
					<a id="add-prefs-btn" class="btn btn-primary" href="@routes.Application.answerQuestions()">I am finished with the preferences</a>
				</div>
			</div>
		}
				
		<script type="text/javascript">
		
		function create_movie_td(id, title, descr) {
			var td = $("<td></td>");
			var img = $("<img></img>");
			img.attr('class', 'thumbnail').attr('src', "/assets/images/movies/" + id + ".jpg")
			var a = $("<a></a>");
			a.attr('href', "movies/" + id);
			a.text(title);
			var span = $("<span></span>");
			span.text(descr);
			td = td.append(img);
			td = td.append(a);
			td = td.append(span);
			return td;
		}
		
		function create_slider_td(id1, title1, id2, title2) {
			var td = $("<td></td>");
			var div = $("<div></div>");
			div.attr({
				'class': "slider slider-horizontal",
				'data-movie_1': id1,
				'data-title_1': title1,
				'data-movie_2': id2,
				'data-title_2': title2,
				'style': "width: 200px;"
			});
			td = td.append(div);
			return td;
		}
		
		function create_table_rows(from, to) {
			$('#pref_table tbody').html(function() {
				var $new = $();
				var $lst = $( '#pair_list li' ).slice(from, to);
				$.each($lst, function( index, elem ) {
					var m1 = $(elem).attr('data-movie_1');
					var m2 = $(elem).attr('data-movie_2');
					var title1 = $(elem).attr('data-title_1');
					var title2 = $(elem).attr('data-title_2');
					var descr1 = $(elem).attr('data-descr_1');
					var descr2 = $(elem).attr('data-descr_2');
					var tr = $("<tr></tr>");
					tr.attr('data-movie_1', m1);
					tr.attr('data-movie_2', m2);
					tr = tr.append(create_movie_td(m1, title1, descr1));
					tr = tr.append(create_slider_td(m1, title1, m2, title2));
					tr = tr.append(create_movie_td(m2, title2, descr2));
					$new = $new.add( tr );
				});
				return $new;
			});
		}
		
		function start_slider() {
			$('.slider').slider({
				min: -4,
				max: 4,
				step: 1,
				tooltip: 'show',
				value: 0,
				formater:
				function (value) {						
					if (value < 0) {
						return "I like " + $(this.element).attr("data-title_1") + " more than " + $(this.element).attr("data-title_2");
					}
					else if (value > 0) {
						return "I like " + $(this.element).attr("data-title_2") + " more than " + $(this.element).attr("data-title_1");		
					}
					return "The same";
				}
			}).on('slideStop', function() {
				var $m1 = $(this).attr('data-movie_1');
				var $m2 = $(this).attr('data-movie_2');
				var value = $(this).data('slider').getValue();
				$("#pair_list li[data-movie_1=" + $m1 + "][data-movie_2=" + $m2 + "]").text(value);
			});
		}
		
		$(document).ready(function () {
			create_table_rows(0, 10);
			start_slider();
	
			var options = {
				currentPage: 1,
				totalPages: Math.ceil($('#pair_list li').length / 10),
				alignment: "center",
				onPageChanged:
				function (event, oldPage, newPage) {
					create_table_rows((newPage - 1) * 10, newPage * 10);
					start_slider();
				}
			}
			$('.pagination').bootstrapPaginator(options);
			
			$('#add-prefs-btn').on('click', function() {
				var lst = $('#pair_list li').filter(function (){
				    return $(this).text() != 'none';
				});
				var array = [];
				$.each(lst, function( index, elem ) {
					var pref = {};
					pref.movie1 = $(elem).attr('data-movie_1');
					pref.movie2 = $(elem).attr('data-movie_2');
					pref.value = $(elem).text();
					array.push(pref)
				});
				console.log(array);
				$.ajax({
					type: "POST",
					url: "users/addPreferences",
					data: JSON.stringify({"prefs" : array}),
					contentType: 'application/json'
				});
				console.log(JSON.stringify({"prefs" : array}))
			});
		});
		
		</script>
	}

