@(moviePairs: List[List[String]], user: User)

@import models.Movie

@main("Movies Pair list") {	
	<div class="container">		
		<script>
		$(document).ready(function(){
			$('.slide_this_shit').slider({
				min: -4,
				max: 4,
				step: 1,
				tooltip: 'show',
				value: 0,
				formater:
					function (value) {						
						if (value < 0) {
							return $(this.element).attr("data-movie_1");
						}
						else if (value > 0) {
							return $(this.element).attr("data-movie_2");
							
						}
						
						return "lygybė";
					}
			});
		});
		</script> 
		
		<h4>Give preferences for as many movies as you can.</h4>
		<div class="row">
			<div class="span12">
				<div id="list-movie" class="content scaffold-list" role="main">
					<table id="example" class="table table-striped">
						<thead>
							<tr>
								<th>Movie</th>
								<th></th>	
								<th>Movie</th>
							</tr>
						</thead>
						<tbody>
							@for(moviePair <- moviePairs) {
								@defining(moviePair.get(0)) { m1 =>
									@defining(moviePair.get(1)) { m2 =>
										<tr class="movie-pair-@{m1}-@{m2}">
											<td>
												<img class="thumbnail" src="@routes.Assets.at("images/movies/" + m1 + ".jpg")" />
												<a href="@routes.Movies.details(m1)">@Movie.find.byId(m1).title</a>
												<span>@Movie.find.byId(m1).description</span>
											</td>
											<td>
												<div class="slider slider-horizontal slide_this_shit" data-movie_1="@{m1}" data-movie_2="@{m2}" style="width: 200px;"></div>
											</td>
											<td>
												<img class="thumbnail" src="@routes.Assets.at("images/movies/" + m2 + ".jpg")" />
												<a href="@routes.Movies.details(m2)">@Movie.find.byId(m2).title</a>
												<span>@Movie.find.byId(m2).description</span>
											</td>
										</tr>
									}
								}
							}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
		
		<div id="click_me">click me</div>
		<div id="micro_content"></div>	
        
		@if((user != null) && !user.stage1Done) {			
			<div class="row">
				<div class="span2 offset5">
					<a class="btn btn-primary" href="@routes.Application.answerQuestions()">I am finished with the rating</a>
				</div>
			</div>
		}
        
		<div id="example"></div>
		    <script type='text/javascript'>
				
				$(document).ready(function() {
					$("#click_me").click(
						function () {
							$("#micro_content").html("<div class=\"slider slider-horizontal\" id=\"yey\" data-omg=\"lolz\"></div>");
							$("#yey").slider({
								min: -4,
								max: 4,
								step: 1,
								tooltip: 'show',
								value: 0,
								formater:
									function (value) {						
										if (value < 0) {
											return $(this.element).attr("data-omg");
										}										
										else if (value > 0) {
											return "b";							
										}
						
										return "lygybė";
									}
							});
						}
					)
				});
				
		    </script>
	}

