@(users: List[User])

@main("Users list") {	
	<div class="container">
		<h2>User List</h2>
		<div class="row">
			<div class="span12">
				<div id="list-user" class="content scaffold-list" role="main">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>User email</th>	
							</tr>
						</thead>
						<tbody>
							@for(user <- users) {
								<tr>
									<td><a href="@routes.Users.details(user.email)">@user.email</a></td>
								</tr>
							}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
        
		<div class="row">
			<div class="span12">
				<div class="pagination">
					<ul>
						<g:paginate total="${userTotal}" />
					</ul>
				</div>
			</div>
		</div>
	</div>
}

