@(ratings: List[Rating])

@main("Ratings list") {	
	<div class="container">
		<h2>Rating List</h2>
		<div class="row">
			<div class="span12">
				<div id="list-rating" class="content scaffold-list" role="main">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>User</th>
								<th>Movie</th>
								<th>Rating</th>	
							</tr>
						</thead>
						<tbody>
							@for(rating <- ratings) {
								<tr>
									<td>
										@rating.user.email
									</td>
									<td>
										@rating.movie.title
									</td>
									<td>
										@rating.value
									</td>
								</tr>
							}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
}

