@main("About") {
	<div class="container">
		<div class="hero-unit">
			<p>Thank you for participating in this experiment. The experiment consists of two stages. In the first stage you are asked to give your opinion about th emovies you know. In the second stage (which happens a couple of weeks after the first one) you are given the recommendation list and asked for your opinion about it. The data that you provide is gathered in purpose of comparing several personalised ranking methods.</p>
			<p><a href="@routes.Application.start()" class="btn btn-primary btn-large">Start</a></p>
		</div>
	</div>
}