@main("About") {
	<div class="container">
		<div class="hero-unit">
			Hi! My name is Laura Blėdaitė and I am writing my master thesis titled 'Ranking With Pairwise Preferences'. My supervisor is prof. Francesco Ricci from the Faculty of Computer Science in the Free University of Bozen-Bolzano. The experiment that I am conducting consists of two stages. I the first stage the users are asked to supply either ratings or binary preferences about the movies given for them. In the second stage users are given lists of recommendations and asked to evaluate, compare and answer to the questions about them.
		</div>
	</div>
}