@(form: Form[Application.Login])

@main("Log in") {
	<div class="container">
		<form class="form-signin" action="@routes.Application.login()" method="POST">
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="email" name="email" class="input-block-level" placeholder="Email" value="@form("email").value">
			<input class="btn btn-large btn-primary" type="submit" value="Login"></button>
			<a href="@routes.Application.register()"> Register, if you haven't yet</a>
		</form>
	</div>
}