@(form: Form[Application.Login])

@main("Log in") {
	<div class="container">
		@helper.form(routes.Application.authenticate, 'class -> "form-signin") {
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="email" name="email" class="input-block-level" placeholder="Email" value="@form("email").value">
			<label class="checkbox">
				<input type="checkbox" value="remember-me"> Remember me
			</label>
			<button class="btn btn-large btn-primary" type="submit">Login</button>
		}
	</div>
}