@(form: Form[Experiment.AnswerQuestions], user: User)

@main("Answer Questions") {
	<div class="container">
		
		<div class="hero-unit">
			<p>
				Please answer the questions below.
			</p>
		</div>
		
		@helper.form(routes.Experiment.handle_post(), 'method -> "post") {
		
			<div class="span8 offset2">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>
							</td>
							<td>
								Strongly agree
							</td>
							<td>
								Agree
							</td>
							<td>
								Neutral
							</td>
							<td>
								Disagree
							</td>
							<td>
								Strongly disagree
							</td>
						</tr>
					</thead>
			
					<tbody>

						<tr>
							@defining("likertScaleRadios1") { name =>
								@defining(user.question1) { answer =>
									<td>1. I have fun using the system</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="stronglyAgree" @{if(answer == 1) "checked"} value=1>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="agree" @{if(answer == 2) "checked"} value=2>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="neutral" @{if(answer == 3 || answer == 0) "checked"} value=3>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="disagree" @{if(answer == 4) "checked"} value=4>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="stronglyDisagree" @{if(answer == 5) "checked"} value=5>
										</label>
									</td>
								}
							}
						</tr>
			
						<tr>
							@defining("likertScaleRadios2") { name =>
								@defining(user.question2) { answer =>
									<td>2. Using the system is a pleasant experience</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="stronglyAgree" @{if(answer == 1) "checked"} value=1>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="agree" @{if(answer == 2) "checked"} value=2>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="neutral" @{if(answer == 3 || answer == 0) "checked"} value=3>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="disagree" @{if(answer == 4) "checked"} value=4>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="stronglyDisagree" @{if(answer == 5) "checked"} value=5>
										</label>
									</td>
								}
							}
						</tr>

						<tr>
							@defining("likertScaleRadios3") { name =>
								@defining(user.question3) { answer =>
									<td>3. The system makes me more aware of my choice options</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="stronglyAgree" @{if(answer == 1) "checked"} value=1>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="agree" @{if(answer == 2) "checked"} value=2>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="neutral" @{if(answer == 3 || answer == 0) "checked"} value=3>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="disagree" @{if(answer == 4) "checked"} value=4>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="stronglyDisagree" @{if(answer == 5) "checked"} value=5>
										</label>
									</td>
								}
							}
						</tr>

						<tr>
							@defining("likertScaleRadios4") { name =>
								@defining(user.question4) { answer =>
									<td>4. I feel bored when I am using the system</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="stronglyAgree" @{if(answer == 1) "checked"} value=1>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="agree" @{if(answer == 2) "checked"} value=2>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="neutral" @{if(answer == 3 || answer == 0) "checked"} value=3>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="disagree" @{if(answer == 4) "checked"} value=4>
										</label>
									</td>
									<td>
										<label class="radio inline">
											<input type="radio" name="@name" id="stronglyDisagree" @{if(answer == 5) "checked"} value=5>
										</label>
									</td>
								}
							}
						</tr>
				
					</tbody>
			
				</table>
			</div>
		
			<div class="row">
				<div class="span2 offset5">
					<form action="@routes.Experiment.handle_post()" request="POST">
						<input class="btn btn-large btn-primary" type="submit" value="Finish"></input>
					</form>
				</div>
			</div>
		}
	</div>
}