@main("Experiment is over") {
	<div class="container">
		<div class="hero-unit">
			<h1>Thank you!</h1>
			<p>The experiment is now finished. By participating in this experiment you support the research community in the Faculty of Computer Science in the Free University of Bolzano. The information you provided helps us improve our algorithms and do research in this field.</p>
			<p><a href="@routes.Application.logout()" class="btn btn-primary btn-large" id="load-btn">Log out</a></p>
		</div>
	</div>
}