@(moviePairs: List[com.avaje.ebean.SqlRow], pairsTotal: Integer)

@import com.avaje.ebean.SqlRow

@main("Movie comparisons") {	
	
	<div class="container">	
		<div class="hero-unit">
			<p>
				Please give preferences for as many movie pairs as you can.
				<ul>
					<li>
						Move the slider towards the mvoie that you like more. You will see how much more stars you give for one movie than for the other in a 5 star scale.
					</li>
					<li>
						If you do not know the movie, click the button <button class="btn btn-primary btn-small">I don't know it</button>.
					</li>
					<li>
						<a href="">Watch trailer</a> or see the movie on <a href="">IMDb</a> to get more information about it.
					</li>
				</ul>
			</p>
		</div>	
		<ul id="pair_list" style="display: none" data-pairs-total="@pairsTotal">
			@for(moviePair <- moviePairs) {
				@defining(moviePair.getInteger("value")) { pref =>
					<li 
					data-movie_1="@{moviePair.getInteger("movie1_id")}"
					data-title_1="@{moviePair.getString("movie1_title")}" 
					data-descr_1="@{moviePair.getString("movie1_description")}" 
					data-length_1="@{moviePair.getInteger("movie1_length")}"
					data-imdb_1="@{moviePair.getString("movie1_imdbLink")}"
					data-trailer_1="@{moviePair.getString("movie1_trailerLink")}"
					data-movie_2="@{moviePair.getInteger("movie2_id")}"
					data-title_2="@{moviePair.getString("movie2_title")}" 
					data-descr_2="@{moviePair.getString("movie2_description")}" 
					data-length_2="@{moviePair.getInteger("movie2_length")}"
					data-imdb_2="@{moviePair.getString("movie2_imdbLink")}"
					data-trailer_2="@{moviePair.getString("movie2_trailerLink")}"
					>@if(pref == null) {none} else {@pref}</li>
				}
			}
		</ul>
		
		<div class="row">
			<div class="span12">
				<div id="list-movie" class="content scaffold-list" role="main">
					<table id="pref_table" class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th></th>	
								<th></th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
				
		@if(pairsTotal > 10) {
			<div class="pagination"></div>
		}
        
		<div class="row">
			<div class="span2 offset5">
				<form action="@routes.Experiment.handle_post()" method="POST">
					<input class="btn btn-primary btn-small add-prefs-btn" type="submit" value="I finished giving preferences"></input>
				</form>
			</div>
		</div>
				
		<script type="text/javascript">
		
		function create_movie_td(id, title, descr, length, imdbLink, trailerLink) {
			var td = $("<td></td>");
			var div_hero = $("<div></div>");
			div_hero.attr('class', 'hero-unit');
			
			var div_row_outer = $("<div></div>");
			div_row_outer.attr('class', 'row');
			
			var div_span1 = $("<div></div>");
			div_span1.attr('class', 'span2');
			
			var img = $("<img></img>");
			img.attr('class', 'thumbnail').attr('src', "/assets/images/movies/" + id + ".jpg")
			div_span1 = div_span1.append(img);
			div_row_outer = div_row_outer.append(div_span1);
			
			var div_span2 = $("<div></div>");
			div_span2.attr('class', 'span4');
			
			var div_row1 = $("<div></div>");
			div_row1.attr('class', 'row'); 
			
			var div_h4 = $("<h4></h4>");

			var a_title = $("<a></a>");
			a_title.attr('href', "movies/" + id);
			a_title.text(title);
			
			div_h4 = div_h4.append(a_title);
			div_row1 = div_row1.append(div_h4);
			div_span2 = div_span2.append(div_row1);
			
			var div_row2 = $("<div></div>");
			div_row2.attr('class', 'row'); 
			
			var div_span21 = $("<div></div>");
			div_span21.attr('class', 'span2');
			
			div_span21.text(length + " Min");
			div_row2 = div_row2.append(div_span21);
			
			var div_span22 = $("<div></div>");
			div_span22.attr('class', 'span2');
			
			var a_imdb = $("<a></a>");
			a_imdb.attr('href', imdbLink).attr('target', '_blank');
			a_imdb.text("IMDb");

			div_span22 = div_span22.append(a_imdb);
			div_row2 = div_row2.append(div_span22);
			
			var div_span23 = $("<div></div>");
			div_span23.attr('class', 'span2');
			
			var a_trailer = $("<a></a>");
			a_trailer.attr('class', 'various fancybox').attr('href', trailerLink);
			a_trailer.text("Watch trailer");
			
			div_span23 = div_span23.append(a_trailer);
			div_row2 = div_row2.append(div_span23);
			
			var div_span24 = $("<div></div>");
			div_span24.attr('class', 'span2');
			
			var btn = $("<button></button>");
			btn.attr('class', 'btn btn-primary btn-small hideIt ' + id);
			btn.text("I don't know it");
			
			div_span24 = div_span24.append(btn);
			div_row2 = div_row2.append(div_span24);
			div_span2 = div_span2.append(div_row2);
			
			var div_row3 = $("<div></div>");
			div_row3.attr('class', 'row'); 
			div_row3.text(descr);
			
			div_span2 = div_span2.append(div_row3);
			div_row_outer = div_row_outer.append(div_span2);
			div_hero = div_hero.append(div_row_outer);
			td = td.append(div_hero);
			
			return td;
		}
		
		function create_slider_td(id1, title1, id2, title2) {
			
			console.log('create_slider_td');
			
			var value = $('#pair_list li[data-movie_1=' + id1 + '][data-movie_2=' + id2 + ']').text();
			value = (value == "none") ? 0 : value;
			
			var td = $("<td></td>");
			var div = $("<div></div>");
			div.attr({
				'class': "slider slider-horizontal",
				'data-movie_1': id1,
				'data-title_1': title1,
				'data-movie_2': id2,
				'data-title_2': title2,
				'data-slider-value': value,
				'style': "width: 200px;"
			});
			td = td.append(div);
			return td;
		}
		
		function create_table_rows() {
			console.log('create_table_rows starts');
			
			var $lst = $( '#pair_list li' );
			
			$('#pref_table tbody').html(function() {
				var $new = $();
				
				$.each($lst, function( index, elem ) {
					
					var m1 = $(elem).attr('data-movie_1');
					var m2 = $(elem).attr('data-movie_2');
					var title1 = $(elem).attr('data-title_1');
					var title2 = $(elem).attr('data-title_2');
					var descr1 = $(elem).attr('data-descr_1');
					var descr2 = $(elem).attr('data-descr_2');
					var length1 = $(elem).attr('data-length_1');
					var length2 = $(elem).attr('data-length_2');
					var imdbLink1 = $(elem).attr('data-imdb_1');
					var imdbLink2 = $(elem).attr('data-imdb_2');
					var trailerLink1 = $(elem).attr('data-trailer_1');
					var trailerLink2 = $(elem).attr('data-trailer_2');
					var tr = $("<tr></tr>");
					tr.attr('data-movie_1', m1);
					tr.attr('data-movie_2', m2);
										
					tr = tr.append(create_movie_td(m1, title1, descr1, length1, imdbLink1, trailerLink1));
					tr = tr.append(create_slider_td(m1, title1, m2, title2));
					tr = tr.append(create_movie_td(m2, title2, descr2, length2, imdbLink2, trailerLink2));
					$new = $new.add( tr );
				});
				return $new;
			});
			console.log('create_table_rows ends');
		}
		
		function start_slider() {
			$('.slider').slider({
				min: -4,
				max: 4,
				step: 1,
				tooltip: 'show',
				value: 0,
				formater:
				function (value) {						
					if (value < 0) {
						return "+ " + repeat("*", Math.abs(value)) + " for " + $(this.element).attr("data-title_1");
					}
					else if (value > 0) {
						return "+ " + repeat("*", Math.abs(value)) + " for " + $(this.element).attr("data-title_2");		
					}
					return "The same";
				}
			}).on('slideStop', function() {
				var $m1 = $(this).attr('data-movie_1');
				var $m2 = $(this).attr('data-movie_2');
				var value = $(this).data('slider').getValue();
				
				
				$("#pair_list li[data-movie_1=" + $m1 + "][data-movie_2=" + $m2 + "]").text(value);
				$.ajax({
					type: "POST",
					url: "/ajax",
					data: JSON.stringify({"aim": "add_pref", "movie1_id": $m1, "movie2_id": $m2, "value": value}),
					contentType: 'application/json',
					success: function(data) {}
				});
				
			});
		}
		
		function repeat(pattern, count) {
			if (count < 1) return '';
			var result = '';
			while (count > 0) {
				if (count & 1) result += pattern;
				count >>= 1, pattern += pattern;
			}
			return result;
		}
		
		function create_pagination(current_page) {
			var options = {
				currentPage: current_page,
				totalPages: Math.ceil($('ul#pair_list').attr('data-pairs-total') / 10),
				alignment: "center",
				onPageChanged:
				function (event, oldPage, newPage) {
					next_page((newPage - 1) * 10, newPage * 10);
					
					create_pagination(newPage);
					create_hide_it();
					window.scrollTo(0,0);
				}
			}
			$('.pagination').bootstrapPaginator(options);
		}
		
		function update_page(prefs) {
			var lis = $('#pair_list li');
			var list_size = lis.size();
			
			for(var i=0; i<prefs.length; i++){
				var pref = prefs[i];
				
				if (i >= list_size) {
					list = $('#pair_list');
					var li = $("<li></li>");
					list = list.append(li);
				}
				var elem = $('#pair_list li')[i];
				var m1 = pref.movie1;
				elem.setAttribute('data-movie_1', m1.id);
				elem.setAttribute('data-title_1', m1.title);
				elem.setAttribute('data-length_1', m1.length);
				elem.setAttribute('data-descr_1', m1.description);
				elem.setAttribute('data-imdb_1', m1.imdbLink);
				elem.setAttribute('data-trailer_1', m1.trailerLink);
				var m2 = pref.movie2;
				elem.setAttribute('data-movie_2', m2.id);
				elem.setAttribute('data-title_2', m2.title);
				elem.setAttribute('data-length_2', m2.length);
				elem.setAttribute('data-descr_2', m2.description);
				elem.setAttribute('data-imdb_2', m2.imdbLink);
				elem.setAttribute('data-trailer_2', m2.trailerLink);
				
				if (pref.value == null) {
					$(elem).text("none");
				}
				else {
					$(elem).text(pref.value);
				}
			}
			
			for(var i = prefs.length; i < list_size; i++){
				$('#pair_list li')[prefs.length].remove();
			}
			create_table_rows();
			start_slider();
		}
		
		function update_total(total) {
			$('ul#pair_list').attr('data-pairs-total', total);
		}
		
		function next_page(from, to) {
			console.log('next_page starts');
			$('#spinner').show();
			$.ajax({
				type: "POST",
				url: "/ajax",
				data: JSON.stringify({"aim": "paginate", "from": from, "to": to}),
				contentType: 'application/json',
				success: function(data) {
					$('#spinner').hide();
					var prefs = data.prefs; 
					update_page(prefs);
					// check current_page
					var current_page = $('.pagination ul li.active a').text();
					update_total(data.total);
					create_pagination(current_page);
					create_hide_it();
					start_fancybox();
				},
				error: function() {
					$('#spinner').hide();
				}
			});
		}
		
		function start_fancybox() {
			$(".fancybox").click(function() {
				$.fancybox({
					'padding'		: 0,
					'autoScale'		: false,
					'transitionIn'	: 'none',
					'transitionOut'	: 'none',
					'title'			: this.title,
					'width'		: 680,
					'height'		: 495,
					'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
					'type'			: 'swf',
					'swf'			: {
						'wmode'		: 'transparent',
						'allowfullscreen'	: 'true'
					}
				});

				return false;
			});
		}
		
		function create_hide_it() {
			console.log('create_hide_it');
			
			$('.hideIt').on('click', function() {
				
				$('#spinner').show();
				var id = $(this).attr('class').match(/(\d+)/)[1];
				var id1 = $($(this).parentsUntil('tbody').last().find('.hideIt')[0]).attr('class').match(/(\d+)/)[1];
				var id2 = $($(this).parentsUntil('tbody').last().find('.hideIt')[1]).attr('class').match(/(\d+)/)[1];
				var first_in_page_id1 = $('tbody tr:nth-child(1)').attr('data-movie_1');
				var first_in_page_id2 = $('tbody tr:nth-child(1)').attr('data-movie_2');
				var current_page = $('.pagination ul li.active a').text();
				
				$.ajax({
					type: "POST",
					url: "/ajax",
					data: JSON.stringify({"aim" : 'hide', "id": id, "id1": id1, "id2": id2, "first_in_page_id1": first_in_page_id1,
					"first_in_page_id2": first_in_page_id2, "current_page": current_page}),
					contentType: 'application/json',
					success: function(data) {
						$('#spinner').hide();
						var prefs = data.prefs; 
						update_page(prefs);
						// check current_page
						var current_page = Math.ceil((data.first+1) / 10);
						update_total(data.total);
						create_pagination(current_page);
						create_hide_it();
						start_fancybox();
					},
					error: function() {
						$('#spinner').hide();
					}
				});
			});
		}
		
		$(document).ready(function () {
			create_table_rows();
			start_slider();
			create_pagination(1);
			create_hide_it();
			start_fancybox();
		});
		</script>
	}

