@(firstList: List[Recommendation], secondList: List[Recommendation], user: User)

@main("Compare recommendations") {	
	
	<div class="container">
		<div class="hero-unit">
			These are the two recommendation lists recommended personally for you in the order that is important.
			Please answer the questions below. Use links <a href="">IMDb</a> and <a href="">Watch trailer</a> to know more about the movies.
		</div>
		<div class="row">
			<div class="span5">
				<div id="list-movie-1" class="content scaffold-list" role="main">
					<h4>Original list</h4>
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@{var i = 0}
							@for(rec <- firstList) {
								@defining(rec.movie) { movie =>
									<tr class="movie-id-@{movie.id}">
										<td>
											<h4>@{rec.rank}</h4>
										</td>
										<td>
											<div class="row-fluid">
												<div class="span3">
													<img class="thumbnail" src="@routes.Assets.at("images/movies/" + movie.id + ".jpg")" />
												</div>
												<div class="span8 offset1">
													<div class="row">
														<h4>
															<a href="@routes.Movies.details(movie.id)">
																@movie.title
															</a>
														</h4>
													</div>
													<div class="row">
														<div class="span3">
															@movie.length Min
														</div>
														<div class="span3">
															<a href="@movie.imdbLink" target="_blank">
																IMDb
															</a>
														</div>
														<div class="span6">
															<a class="various fancybox" href="@movie.trailerLink">Watch trailer</a>
														</div>
													</div>
												</div>
											</div>
										
											<div class="row-fluid">
												<div class="span12">
													@movie.description
												</div>
											</div>
										
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
								
			<div class="span5 offset1">
				<div id="list-movie-2" class="content scaffold-list" role="main">
					<h4>Adjusted list</h4>
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@{var i = 0}
							@for(rec <- secondList) {
								@defining(rec.movie) { movie =>
									<tr class="movie-id-@{movie.id}">
										<td>
											<h4>@{rec.rank}</h4>
										</td>
										<td>
											<div class="row-fluid">
												<div class="span3">
													<img class="thumbnail" src="@routes.Assets.at("images/movies/" + movie.id + ".jpg")" />
												</div>
												<div class="span8 offset1">
													<div class="row">
														<h4>
															<a href="@routes.Movies.details(movie.id)">
																@movie.title
															</a>
														</h4>
													</div>
													<div class="row">
														<div class="span3">
															@movie.length Min
														</div>
														<div class="span3">
															<a href="@movie.imdbLink" target="_blank">
																IMDb
															</a>
														</div>
														<div class="span6">
															<a class="various fancybox" href="@movie.trailerLink">Watch trailer</a>
														</div>
													</div>
												</div>
											</div>
										
											<div class="row-fluid">
												<div class="span12">
													@movie.description
												</div>
											</div>
										
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<div class="hero-unit">
				<p>
					Which recommendation list is more useful for you, i.e. contains more useful movies which are higher than the less usefull ones in the list? And how much?
				</p>
				<div class="span4 offset3">
					<div class="slider slider-horizontal" style="width: 200px;">
					</div>
				</div>
					
				
			</div>
		</div>
			
		<div class="row">
			<div class="span2 offset5">
				<form action="@routes.Experiment.handle_post()" method="POST">
					<input class="btn btn-primary btn-large" type="submit" value="Finish"></input>
				</form>
			</div>
		</div>
		
		
	</div>
	
	<script type="text/javascript">
	$(document).ready(function () {
		$(".fancybox").click(function() {
			$.fancybox({
				'padding'		: 0,
				'autoScale'		: false,
				'transitionIn'	: 'none',
				'transitionOut'	: 'none',
				'title'			: this.title,
				'width'		: 680,
				'height'		: 495,
				'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
				'type'			: 'swf',
				'swf'			: {
					'wmode'		: 'transparent',
					'allowfullscreen'	: 'true'
				}
			});

			return false;
		});
	});
	
	$('.slider').slider({
		min: -4,
		max: 4,
		step: 1,
		tooltip: 'show',
		value: 0,
		formater:
		function (value) {						
			if (value < 0) {
				return "I like Original list more than Adjusted list";
			}
			else if (value > 0) {
				return "I like Adjusted list more than Original list";		
			}
			return "The lists are equally useful";
		}
	}).on('slideStop', function() {
		var rec_improvement = $(this).data('slider').getValue();
		$.ajax({
			type: "POST",
			url: "/ajax",
			data: JSON.stringify({"rec_improvement" : rec_improvement}),
			contentType: 'application/json'
		});
	});
	
	</script>
}

