@main("About") {
	<div class="container">
		<div class="hero-unit">
			<p>Thank you for participating in this experiment. The experiment consists of two stages. In the first stage you will be asked to give your opinion about some movies you know. In the second stage (which will occur a couple of weeks after the first one) you will be given a recommendation list and asked for your opinion about it. The data that you provide is gathered in purpose of comparing several personalised ranking methods.
			</p>
			<p>
				<form action="@routes.Experiment.handle_post()" method="POST">
					<input class="btn btn-primary btn-large" type="submit" value="Start"></input>
				</form>
			</p>
		</div>
	</div>
}