@main("Stage 1 is over") {
	<div class="container">
		<div class="hero-unit">
			<h1>Thank you!</h1>
			<p>The first stage of the experiment is now finished. In a couple of weeks you will be notified by email (the one you used when registering) and asked to participate in the second stage of the experiment, which is the fun part for you and the important part for us. We will recommend you the lists of movies and you will decide how well it's done.</p>
			<p>
				<form action="@routes.Application.logout()" method="POST">
					<input type="submit" class="btn btn-primary btn-large" value="Log out"></input>
				</form>	
			</p>
		</div>
	</div>
}